.led-green {
    margin-left: 12px;
    width: 12px;
    height: 12px;
    background-color: #7CF715;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #460 0 -1px 9px, #7D0 0 2px 12px;
}

.led-grey {
    margin-left: 12px;
    width: 12px;
    height: 12px;
    background-color: #B9BAB8;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #460 0 -1px 9px, #7D0 0 2px 12px;
}
